CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake/**/config.h
_CPack_Packages/
*.o
*.a
*.Z
*.gz
*.class
*.exe
*.so
*.jar
**/.gradle/
**/build/
*.swp
